/*Fonts Start*/
@font-face {
  font-family: 'Arsenal';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Arsenal/fonts/Arsenal-regular/Arsenal-regular.eot');
  src: url('/fonts/Arsenal/fonts/Arsenal-regular/Arsenal-regular.eot?#iefix') format('embedded-opentype'),
       local('Arsenal Regular'),
       local('Arsenal-regular'),
       url('/fonts/Arsenal/fonts/Arsenal-regular/Arsenal-regular.woff2') format('woff2'),
       url('/fonts/Arsenal/fonts/Arsenal-regular/Arsenal-regular.woff') format('woff'),
       url('/fonts/Arsenal/fonts/Arsenal-regular/Arsenal-regular.ttf') format('truetype'),
       url('/fonts/Arsenal/fonts/Arsenal-regular/Arsenal-regular.svg#Arsenal') format('svg');
}

@font-face {
  font-family: 'Arsenal';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Arsenal/fonts/Arsenal-700/Arsenal-700.eot');
  src: url('/fonts/Arsenal/fonts/Arsenal-700/Arsenal-700.eot?#iefix') format('embedded-opentype'),
       local('Arsenal Bold'),
       local('Arsenal-700'),
       url('/fonts/Arsenal/fonts/Arsenal-700/Arsenal-700.woff2') format('woff2'),
       url('/fonts/Arsenal/fonts/Arsenal-700/Arsenal-700.woff') format('woff'),
       url('/fonts/Arsenal/fonts/Arsenal-700/Arsenal-700.ttf') format('truetype'),
       url('/fonts/Arsenal/fonts/Arsenal-700/Arsenal-700.svg#Arsenal') format('svg');
}

@font-face {
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Cormorant/fonts/Cormorant-regular/Cormorant-regular.eot');
  src: url('/fonts/Cormorant/fonts/Cormorant-regular/Cormorant-regular.eot?#iefix') format('embedded-opentype'),
       local('Cormorant Regular'),
       local('Cormorant-regular'),
       url('/fonts/Cormorant/fonts/Cormorant-regular/Cormorant-regular.woff2') format('woff2'),
       url('/fonts/Cormorant/fonts/Cormorant-regular/Cormorant-regular.woff') format('woff'),
       url('/fonts/Cormorant/fonts/Cormorant-regular/Cormorant-regular.ttf') format('truetype'),
       url('/fonts/Cormorant/fonts/Cormorant-regular/Cormorant-regular.svg#Cormorant') format('svg');
}

@font-face {
  font-family: 'Cormorant';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Cormorant/fonts/Cormorant-700/Cormorant-700.eot');
  src: url('/fonts/Cormorant/fonts/Cormorant-700/Cormorant-700.eot?#iefix') format('embedded-opentype'),
       local('Cormorant Bold'),
       local('Cormorant-700'),
       url('/fonts/Cormorant/fonts/Cormorant-700/Cormorant-700.woff2') format('woff2'),
       url('/fonts/Cormorant/fonts/Cormorant-700/Cormorant-700.woff') format('woff'),
       url('/fonts/Cormorant/fonts/Cormorant-700/Cormorant-700.ttf') format('truetype'),
       url('/fonts/Cormorant/fonts/Cormorant-700/Cormorant-700.svg#Cormorant') format('svg');
}

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Lora/fonts/Lora-regular/Lora-regular.eot');
  src: url('/fonts/Lora/fonts/Lora-regular/Lora-regular.eot?#iefix') format('embedded-opentype'),
       local('Lora Regular'),
       local('Lora-regular'),
       url('/fonts/Lora/fonts/Lora-regular/Lora-regular.woff2') format('woff2'),
       url('/fonts/Lora/fonts/Lora-regular/Lora-regular.woff') format('woff'),
       url('/fonts/Lora/fonts/Lora-regular/Lora-regular.ttf') format('truetype'),
       url('/fonts/Lora/fonts/Lora-regular/Lora-regular.svg#Lora') format('svg');
}

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Lora/fonts/Lora-700/Lora-700.eot');
  src: url('/fonts/Lora/fonts/Lora-700/Lora-700.eot?#iefix') format('embedded-opentype'),
       local('Lora Bold'),
       local('Lora-700'),
       url('/fonts/Lora/fonts/Lora-700/Lora-700.woff2') format('woff2'),
       url('/fonts/Lora/fonts/Lora-700/Lora-700.woff') format('woff'),
       url('/fonts/Lora/fonts/Lora-700/Lora-700.ttf') format('truetype'),
       url('/fonts/Lora/fonts/Lora-700/Lora-700.svg#Lora') format('svg');
}


@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Open-Sans-Condensed/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.eot');
  src: url('/fonts/Open-Sans-Condensed/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Condensed Bold'),
       local('Open-Sans-Condensed-700'),
       url('/fonts/Open-Sans-Condensed/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.woff2') format('woff2'),
       url('/fonts/Open-Sans-Condensed/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.woff') format('woff'),
       url('/fonts/Open-Sans-Condensed/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.ttf') format('truetype'),
       url('/fonts/Open-Sans-Condensed/fonts/Open-Sans-Condensed-700/Open-Sans-Condensed-700.svg#OpenSansCondensed') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Open-Sans-Condensed/fonts/Raleway-regular/Raleway-regular.eot');
  src: url('/fonts/Open-Sans-Condensed/fonts/Raleway-regular/Raleway-regular.eot?#iefix') format('embedded-opentype'),
       local('Raleway'),
       local('Raleway-regular'),
       url('/fonts/Open-Sans-Condensed/fonts/Raleway-regular/Raleway-regular.woff2') format('woff2'),
       url('/fonts/Open-Sans-Condensed/fonts/Raleway-regular/Raleway-regular.woff') format('woff'),
       url('/fonts/Open-Sans-Condensed/fonts/Raleway-regular/Raleway-regular.ttf') format('truetype'),
       url('/fonts/Open-Sans-Condensed/fonts/Raleway-regular/Raleway-regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Raleway/fonts/Raleway-700/Raleway-700.eot');
  src: url('/fonts/Raleway/fonts/Raleway-700/Raleway-700.eot?#iefix') format('embedded-opentype'),
       local('Raleway Bold'),
       local('Raleway-700'),
       url('/fonts/Raleway/fonts/Raleway-700/Raleway-700.woff2') format('woff2'),
       url('/fonts/Raleway/fonts/Raleway-700/Raleway-700.woff') format('woff'),
       url('/fonts/Raleway/fonts/Raleway-700/Raleway-700.ttf') format('truetype'),
       url('/fonts/Raleway/fonts/Raleway-700/Raleway-700.svg#Raleway') format('svg');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.eot');
  src: url('/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
       local('Roboto'),
       local('Roboto-regular'),
       url('/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
       url('/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
       url('/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
       url('/fonts/Roboto/fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Roboto/fonts/Roboto-700/Roboto-700.eot');
  src: url('/fonts/Roboto/fonts/Roboto-700/Roboto-700.eot?#iefix') format('embedded-opentype'),
       local('Roboto Bold'),
       local('Roboto-700'),
       url('/fonts/Roboto/fonts/Roboto-700/Roboto-700.woff2') format('woff2'),
       url('/fonts/Roboto/fonts/Roboto-700/Roboto-700.woff') format('woff'),
       url('/fonts/Roboto/fonts/Roboto-700/Roboto-700.ttf') format('truetype'),
       url('/fonts/Roboto/fonts/Roboto-700/Roboto-700.svg#Roboto') format('svg');
}


/*Fonts Ende*/
/*Farben Start*/
/*
		c-Pool:	#9C733B, #445165, #9C9FA9, #111F28, #7E878C
		fon: #958D81 , #732611, #5F2329, #BEC8DB, #7E878C, #9D9E9D, #C0B9B3, #0B1A26, #292929
		other: #507C6D, #4A68A4, #D0644E, #F3F3F3, #eee
		off: #A5886C, #EFCFAF, #958D81
*/
/******************/
/*LookAndFeel Start*/

.saved .cursor{
	-webkit-box-shadow: 0px 0px 21px 5px rgba(7,240,1,1);
    -moz-box-shadow: 0px 0px 21px 5px rgba(7,240,1,1);
	box-shadow: 0px 0px 21px 5px rgba(7,240,1,1);
}


body.LookAndFeel-1{
	background-color: #2D3437;
}
body.LookAndFeel-1 .cursor{
	border-color: #B64A4B;
}
.LookAndFeel-1 div, .LookAndFeel-1 p{
	border-color:#D0644E;
}

body.LookAndFeel-2{
	background-color: #081C29;
}
body.LookAndFeel-2 .cursor{
	border-color: #BEC8DB;
}
.LookAndFeel-2 div, .LookAndFeel-2	 p{
	border-color:#9C9FA9;
}

body.LookAndFeel-3{
	background-color: #142940;
}
body.LookAndFeel-3 .cursor{
	border-color: #BEC8DB;
}
.LookAndFeel-3 div, .LookAndFeel-3 p{
	border-color:#BEC1AC;
}


body.LookAndFeel-4{
	background-color: #1B4039;
}
body.LookAndFeel-4 .cursor{
	border-color: #FDA533;		/*#BEC8DB*/
}
.LookAndFeel-4 div, .LookAndFeel-4 p{
	border-color:#FDA533;		/*#BEC8DB*/
}	


body.LookAndFeel-5{
	background-color: #5A1F14;
}
body.LookAndFeel-5 .cursor{
	border-color: #B2A08C;
}
.LookAndFeel-5 div, .LookAndFeel-5 p{
	border-color:#EFCFAF;
}


body.LookAndFeel-6{
	background-color: #fcffff;
}
body.LookAndFeel-6 .cursor{
	border-color: 	#9C9FA9;
}
.LookAndFeel-6 div, .LookAndFeel-6 p{
	border-color:	#7E878C;
}


body.LookAndFeel-7{
	background-color: #A6ACBA;
}
body.LookAndFeel-7 .cursor{
	border-color: #4B6E72;
}
.LookAndFeel-7 div, .LookAndFeel-7 p{
	border-color:#4B6E72;
}


body.LookAndFeel-8{
	background-color: #;
}
body.LookAndFeel-8 .cursor{
	border-color: #;
}
.LookAndFeel-8 div, .LookAndFeel-8 p{
	border-color:#;
}


body.LookAndFeel-9{
	background-color: #;
}
body.LookAndFeel-9 .cursor{
	border-color: #;
}
.LookAndFeel-9 div, .LookAndFeel-9 p{
	border-color:#;
}


body.LookAndFeel-10{
	background-color: #;
}
body.LookAndFeel-10 .cursor{
	border-color: #;
}
.LookAndFeel-10 div, .LookAndFeel-10 p{
	border-color:#;
}

/*LookAndFeel Ende*/
/******************/
/******************/
/*fontColor Start*/
body.fontColor-1{
	color:#EFCFAF;
}
body.fontColor-2{
	color:#eee;
}
body.fontColor-3{
	color:#7E878C;
}
body.fontColor-4{
	color:#4A68A4;
}
body.fontColor-5{
	color:#507C6D;
}
body.fontColor-6{
	color:#292929;
}
body.fontColor-7{
	color:#eee;
}
body.fontColor-8{
	color:#eee;
}
body.fontColor-9{
	color:#eee;
}
body.fontColor-10{
	color:#eee;
}

/*fontColor Ende*/
/******************/
/******************/
/*fontStyle Start*/
.fontStyle-1 h1, .fontStyle-1 p{
	font-family: 'Roboto', sans-serif;
}
.fontStyle-2 h1, .fontStyle-2 p{
	font-family: 'Arsenal', sans-serif;
}
.fontStyle-3 h1, .fontStyle-3 p{
	font-family: 'Cormorant', sans-serif;
}
.fontStyle-4 h1, .fontStyle-4 p{
	font-family: 'Open Sans Condensed', sans-serif;
}
.fontStyle-5 h1, .fontStyle-5 p{
	font-family: 'Lora', sans-serif;
}
.fontStyle-6 h1, .fontStyle-6 p{
	font-family: 'Raleway', sans-serif;
}
.fontStyle-7 h1, .fontStyle-7 p{
	font-family: 'Overpass', sans-serif;
}
.fontStyle-8 h1, .fontStyle-8 p{
	font-family: 'Roboto Condensed', sans-serif;
}
.fontStyle-9 h1, .fontStyle-9 p{
	font-family: 'Lato', sans-serif;
}
.fontStyle-10 h1, .fontStyle-10 p{
	font-family: 'Rokkitt', sans-serif;
}
/*fontStyle Ende*/
/******************/


/******************/
/*Allgmein Start*/
body .col-md-12 {      
  display: -webkit-flex;        
  display: -ms-flexbox;     
  display: flex;
  overflow: hidden;
  min-height:120px;
}
body.col-md-12{
	border:0px;
}
.cursor{
	border-width: 5px!important;
	border-style:dashed;
}
/*Col Start*/
.col-xs-1, .col-xs-2 , .col-xs-3 , .col-xs-4 , .col-xs-5 , .col-xs-6 , .col-xs-7 , .col-xs-8 , .col-xs-9, .col-xs-10 , .col-xs-11 , .col-xs-12 , 
.col-sm-1, .col-sm-2 , .col-sm-3 , .col-sm-4 , .col-sm-5 , .col-sm-6 , .col-sm-7 , .col-sm-8 , .col-sm-9, .col-sm-10 , .col-sm-11 , .col-sm-12 , 
.col-md-1, .col-md-2 , .col-md-3 , .col-md-4 , .col-md-5 , .col-md-6 , .col-md-7 , .col-md-8 , .col-md-9, .col-md-10 , .col-md-11 , .col-md-12 , 
.col-lg-1, .col-lg-2 , .col-lg-3 , .col-lg-4 , .col-lg-5 , .col-lg-6 , .col-lg-7 , .col-lg-8 , .col-lg-9, .col-lg-10 , .col-lg-11 , .col-lg-12 ,
.col-md-12 .col-md-12{
	border-radius:20px;
	border:1px dashed;
}
 
.LookAndFeel-1 > .col-md-12, .LookAndFeel-2 > .col-md-12, .LookAndFeel-3 > .col-md-12, .LookAndFeel-4 > .col-md-12, .LookAndFeel-5 > .col-md-12
.LookAndFeel-6 > .col-md-12, .LookAndFeel-7 > .col-md-12, .LookAndFeel-8 > .col-md-12, .LookAndFeel-9 > .col-md-12, .LookAndFeel-10 > .col-md-12
{
	border:none;
	border-radius:0px;
}

/*Image Start*/
img{
	max-height: 300px;
	object-fit:cover;	
}
.col-md-12 img{
	padding:0px;
}

/*Text Start*/
h1{
 	font-weight:700;
 	font-size:3.3em;
 	margin-top:0;
 	margin-bottom:0;
 	text-align:center;
}

h1, p{
 	padding-top:40px;
}

/*Allgmein Ende*/
/******************/
